gogo/src/main/resources/META-INF/shell-command.xsd

<xs:schema elementFormDefault="qualified"
           targetNamespace="org.ow2.chameleon.shell"
           xmlns="org.ow2.chameleon.shell"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="command" type="CommandType" />

  <xs:complexType name="CommandType">
    <xs:sequence>
      <xs:element name="completor"
                  type="CompletorType"
                  minOccurs="0"
                  maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="action" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="CompletorType">
    <xs:sequence>
        <xs:element name="property"
                    type="PropertyType"
                    minOccurs="0"
                    maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="component" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="PropertyType">
    <xs:sequence>
      <xs:element name="property"
                  type="PropertyType"
                  minOccurs="0"
                  maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="type" type="PropertyTypeEnum" />
    <xs:attribute name="value" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:simpleType name="PropertyTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="list" />
      <xs:enumeration value="vector" />
      <xs:enumeration value="array" />
      <xs:enumeration value="map" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
